
<html lang="en">
<head>
    <title>profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/couple.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel='icon' href='../static/logo.jpeg' type='image/x-icon'/>
<style>
   
</style>
    
</head>
<body id="body">
    <nav id="nav__single">
        <a href="/#home"><i class="fa fa-arrow-left"></i></a>
    </nav>
    
    <div class="container md mt-5">
        <div class="row" style="padding-top: 30px;">
            <div class="col-2"><img src="../static/logo.jpeg" class="img-thumbnail" alt="Cinque Terre" width="180" height="110"></div>
            <div class="col-6 pt-5"><h1>breakthrough Credit Repair</h1></div>
        </div>
    </div>
    <div class="container  md mt-5">
        <form autocomplete="off">
            <div class="row">
                <div class="col border">
                    <h3 style="width: 100% ; text-align: center;font-size:40px;">husband</h3>

                        <input id="firstname" class="form-control" type="text" placeholder="First name" required/>
                        <input id="lastname" class="form-control"  type="text" placeholder="Last name" required/>
                        <input id="email" class="form-control" type="email" placeholder="Enter Email" required/>
                        <input id="tel" class="form-control" type="tel" placeholder="Phone" required/>
                        <input id="address" class="form-control"  type="text" placeholder="Home Address" required/>
                        <input id="state" class="form-control" type="text" placeholder="Enter State" required/>
                        <input id="city" class="form-control"  type="text" placeholder="City" required/>

                </div>
                <div class="col  border">
                    <h3 style="width: 100% ; text-align: center; font-size:40px;">wife</h3>
                        <input id="firstname2" class="form-control" type="text" placeholder="First name" required/>
                        <input id="lastname2" class="form-control"  type="text" placeholder="Last name" required/>
                        <input id="email2"  class="form-control" type="email" placeholder="Enter Email" required/>
                        <input id="tel2" class="form-control" type="tel" placeholder="Phone" required/>
                        <input id="address2" class="form-control" type="text" placeholder="Home Address" required/>
                        <input id="state2" class="form-control" type="text" placeholder="Enter State" required/>
                        <input id="city2" class="form-control" type="text" placeholder="City" required/>
                </div>
            </div>
            <div id="submit"><input type="submit"></div>
        </form>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
      $('form').on('submit',(e)=>{
                e.preventDefault();

                const firstname=$("#firstname").val().trim();
                const lastname=$("#lastname").val().trim();
                const email=$("#email").val().trim();
                const tel=$("#tel").val().trim();
                const address=$("#address").val().trim();
                const state=$("#state").val().trim();
                const city=$("#city").val().trim();
                const firstname2=$("#firstname2").val().trim();
                const lastname2=$("#lastname2").val().trim();
                const email2=$("#email2").val().trim();
                const tel2=$("#tel2").val().trim();
                const address2=$("#address2").val().trim();
                const state2=$("#state2").val().trim();
                const city2=$("#city2").val().trim();
                
                const data={
                     firstname,
                     lastname,
                     email,
                     tel,
                     address,
                     state,
                     city,
                     firstname2,
                     lastname2,
                     email2,
                     tel2,
                     address2,
                     state2,
                     city2,
                };
                console.log(data)
                $.post('/email2',data,()=>{
                    swal("Submitted", "You would be contacted for further processing", "success");
                });
                $("#firstname").val('')
                $("#lastname").val('')
                $("#email").val('')
                $("#tel").val('')
                $("#address").val('')
                $("#state").val('')
                $("#city").val('')
                $("#firstname2").val('')
                $("#lastname2").val('')
                $("#email2").val('')
                $("#tel2").val('')
                $("#address2").val('')
                $("#state2").val('')
                $("#city2").val('')
            })
</script>
</body>
</html>