<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/views/../static/profile.css" type="text/css">
        <title>profile</title>
        <link rel='icon' href='../static/logo.jpeg' type='image/x-icon'/>

    </head>
    <body>
        <section id="body">
            <nav id="nav__single">
                <a href="/#home"><i class="fa fa-arrow-left"></i></a>
            </nav>
            
            <div id="header">
                <div id="img"><img src="../static/logo.jpeg"></div>
                <div id="text"><h1>breakthrough Credit Repair</h1></div>
            </div>
            <div id="form-container">
                <div id="center">
                    <form autocomplete="off">
                        <table>
                            <table id="table1">
                                 <tr class='first-row' >
                                     <td id="input-id1"><input  id="firstname" class="input1" type="text" placeholder="First name"/></td>
                                     <td id="input-id2"><input id="lastname"class="input1"  type="text" placeholder="Last name"/></td>
                                </tr> 
                        </table>
                        <div  class="input2"><input id="email" type="email" placeholder="Enter Email" required/></div>
                        <div  class="input2"><input id="tel" type="tel" placeholder="Phone" required/></div>
                        <div  class="input2"><input id="address" type="text" placeholder="Home Address" required/></div>
                        <div  class="input2"><input id="state" type="text" placeholder="Enter State" required/></div>
                        <div  class="input2"><input id="city" type="text" placeholder="City" required/></div>
                        <div  id="submit"><input type="submit"></div>
                    </form>
                </div>
            </div>
        </section>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $('form').on('submit',(e)=>{
                e.preventDefault();

                const firstname=$("#firstname").val().trim();
                const lastname=$("#lastname").val().trim();
                const email=$("#email").val().trim();
                const tel=$("#tel").val().trim();
                const address=$("#address").val().trim();
                const state=$("#state").val().trim();
                const city=$("#city").val().trim();

                const data={
                     firstname,
                     lastname,
                     email,
                     tel,
                     address,
                     state,
                     city,
                };
                $.post('/email',data,()=>{
                    swal("Submitted", "You would be contacted for further processing", "success");
                });
                $("#firstname").val('')
                $("#lastname").val('')
                $("#email").val('')
                $("#tel").val('')
                $("#address").val('')
                $("#state").val('')
                $("#city").val('')
            })
        </script>
    </body>
</html>