* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

#container {
  width: 100vw;
  height: 100vh;
  padding-top: 140px;
}

#container__section1 {
  width: 100%;
  height: 85px;
  z-index: 2000;
  position: fixed;
  top: 0px;
}

#container__section1 #container__section1__destopNav {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 200;
}

#container__section1 #container__section1__destopNav #logo__container {
  display: inline;
  position: absolute;
  top: 30px;
  left: 40px;
}

#container__section1 #container__section1__destopNav #logo__container #logo__container__logo {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

#container__section1 #container__section1__destopNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin: 0 auto;
  width: 600px;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 40px;
}

#container__section1 #container__section1__destopNav ul li {
  position: relative;
  padding: 9px;
}

#container__section1 #container__section1__destopNav ul li span {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 0;
  -webkit-transition: width 2s height 4s;
  transition: width 2s height 4s;
  background-color: #3636a8;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#container__section1 #container__section1__destopNav ul li #active {
  height: 3px;
  width: 100%;
  background-color: #3636a8;
}

#container__section1 #container__section1__destopNav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  width: 100%;
  padding: 5px;
}

#container__section1 #container__section1__destopNav ul li:hover span {
  height: 3px;
  width: 100%;
  background-color: #5164d1;
}

#section2 {
  width: 100%;
  height: auto;
  z-index: -1;
  min-width: 290px;
}

#section2 #section2__container {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

#section2 #section2__container .section2__container__class {
  list-style: none;
  height: 400px;
}

#section2 #section2__container .section2__container__class .section2__containerImage__containers {
  margin-top: 40px;
  width: 270px;
  height: 270px;
}

#section2 #section2__container .section2__container__class #section2__containerImage__container1 {
  position: relative;
  -webkit-transform: translateY(4px) rotateZ(-5deg);
          transform: translateY(4px) rotateZ(-5deg);
  background-color: #3636a8;
  margin: 0 auto;
}

#section2 #section2__container .section2__container__class #section2__containerImage__container2 {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(4px) rotateZ(5deg);
          transform: translateY(4px) rotateZ(5deg);
}

#section2 #section2__container .section2__container__class #section2__containerImage__container2 img {
  width: 100%;
  height: 100%;
}

#section2 #section2__container #section2__container__text #section2__container__text__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

#section2 #section2__container #section2__container__text #section2__container__text__container #section2__container__text__container__textContainer__socialMedia {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100px;
  height: 200px;
  list-style: none;
  vertical-align: middle;
  margin-top: 90px;
  padding: 0;
  padding-right: 30px;
}

#section2 #section2__container #section2__container__text #section2__container__text__container #section2__container__text__container__textContainer__socialMedia li {
  padding-top: 25px;
  font-size: 20px;
  color: #3636a8;
}

#section2 #section2__container #section2__container__text #section2__container__text__container #section2__container__text__container__textContainer {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#section2 #section2__container #section2__container__text #section2__container__text__container #section2__container__text__container__textContainer h1 {
  font-size: 40px;
  margin-top: 20px;
}

#section2 #section2__container #section2__container__text #section2__container__text__container #section2__container__text__container__textContainer h4 {
  color: #727070;
  font-size: 23px;
  margin-top: 15px;
}

#section2 #section2__container #section2__container__text #section2__container__text__container #section2__container__text__container__textContainer p {
  color: #727070;
  margin-top: 15px;
  width: 330px;
  font-size: 20px;
}

#section2 #section2__container #section2__container__text #section2__container__text__container #section2__container__text__container__textContainer #section2__container__text__container__textContainer__container {
  width: 140px;
  height: 37px;
  text-align: center;
  line-height: 38px;
  margin-top: 40px;
}

#section2 #section2__container #section2__container__text #section2__container__text__container #section2__container__text__container__textContainer #section2__container__text__container__textContainer__container a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: 2px solid #3636a8;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #ece8f7;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

#section2 #section2__container #section2__container__text #section2__container__text__container #section2__container__text__container__textContainer #section2__container__text__container__textContainer__container:hover a {
  background-color: #3636a8;
  color: white;
  border: none;
}

#section3 {
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 5px;
  min-width: 290px;
}

#section3 #section3__about {
  overflow-x: hidden;
  text-align: center;
  font-size: 40px;
}

#section3 #section3_introduction {
  text-align: center;
  color: #727070;
  font-size: 20px;
  margin-top: 25px;
}

#section3 #section3__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  list-style: none;
  margin-top: 60px;
}

#section3 #section3__container #section3__container__1 {
  text-align: center;
}

#section3 #section3__container #section3__container__1 img {
  width: 314px;
  height: 314px;
}

#section3 #section3__container .section3__container__items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#section3 #section3__container #section3__container__2 p {
  width: 70%;
  color: #727070;
  font-size: 20px;
}

#section3 #section3__container #section3__container__2 #section3__container__2__container {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 30px;
  width: 85%;
}

#section3 #section3__container #section3__container__2 #section3__container__2__container li {
  text-align: center;
  width: 100%;
}

#section3 #section3__container #section3__container__2 #section3__container__2__container li h1 {
  text-align: center;
}

#section3 #section3__container #section3__container__2 #section3__container__2__download {
  width: 140px;
  height: 37px;
  text-align: center;
  line-height: 38px;
  margin-top: 40px;
}

#section3 #section3__container #section3__container__2 #section3__container__2__download a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: 2px solid #3636a8;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #ece8f7;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

#section3 #section3__container #section3__container__2 #section3__container__2__download:hover a {
  background-color: #3636a8;
  color: white;
  border: none;
}

#section4 {
  width: 100%;
  margin-top: 80px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 290px;
}

#section4 #section4__skill h1 {
  font-size: 40px;
  text-align: center;
}

#section4 #section__skill_level {
  margin-top: 20px;
  margin-bottom: 50px;
}

#section4 #section__skill_level h4 {
  font-size: 20px;
  text-align: center;
  color: #727070;
}

#section4 #section4__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

#section4 #section4__container .section4__container__class {
  min-width: 200px;
  max-width: 410px;
  -webkit-transition: height 2s;
  transition: height 2s;
  overflow: hidden;
  height: 70px;
}

#section4 #section4__container .section4__container__class h2 {
  position: relative;
}

#section4 #section4__container .section4__container__class h2 .rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#section4 #section4__container .section4__container__class h2 .section4__container__class__view {
  position: absolute;
  right: 40px;
  top: 9px;
  width: 16px;
  height: 20px;
  border-radius: 50%;
  color: #3636a8;
  font-size: 18px;
}

#section4 #section4__container .move {
  height: 400px;
}

#section4 #section4__container li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#section4 #section4__container li #section4__container__FrontEnd__container {
  margin-top: 30px;
  list-style: none;
}

#section4 #section4__container li #section4__container__FrontEnd__container li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style: none;
}

#section4 #section4__container li #section4__container__FrontEnd__container li ul :nth-child(2) h3 {
  text-align: right;
  color: #b4b2b2;
}

#section4 #section4__container li #section4__container__FrontEnd__container li {
  margin-top: 20px;
}

#section4 #section4__container li #section4__container__FrontEnd__container li .myProgress {
  margin-top: 5px;
  width: 100%;
  background-color: #ddd;
  border-radius: 12px;
}

#section4 #section4__container li #section4__container__FrontEnd__container li #myBar1 {
  width: 70%;
  height: 5px;
  background-color: #3636a8;
  text-align: center;
  color: white;
  border-radius: 12px;
}

#section4 #section4__container li #section4__container__FrontEnd__container li #myBar2 {
  width: 40%;
  height: 5px;
  background-color: #3636a8;
  text-align: center;
  color: white;
  border-radius: 12px;
}

#section4 #section4__container li #section4__container__FrontEnd__container li #myBar3 {
  width: 90%;
  height: 5px;
  background-color: #3636a8;
  text-align: center;
  color: white;
  border-radius: 12px;
}

#section4 #section4__container li #section4__container__FrontEnd__container li #myBar4 {
  width: 80%;
  height: 5px;
  background-color: #3636a8;
  text-align: center;
  color: white;
  border-radius: 12px;
}

#section4 #section4__container li #section4__container__BackEnd__container {
  margin-top: 30px;
  list-style: none;
}

#section4 #section4__container li #section4__container__BackEnd__container li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style: none;
}

#section4 #section4__container li #section4__container__BackEnd__container li ul :nth-child(2) h3 {
  text-align: right;
  color: #b4b2b2;
}

#section4 #section4__container li #section4__container__BackEnd__container li {
  margin-top: 20px;
}

#section4 #section4__container li #section4__container__BackEnd__container li .myProgress {
  margin-top: 5px;
  width: 100%;
  background-color: #ddd;
  border-radius: 12px;
}

#section4 #section4__container li #section4__container__BackEnd__container li #myBar5 {
  width: 70%;
  height: 5px;
  background-color: #3636a8;
  text-align: center;
  color: white;
  border-radius: 12px;
}

#section4 #section4__container li #section4__container__BackEnd__container li #myBar6 {
  width: 40%;
  height: 5px;
  background-color: #3636a8;
  text-align: center;
  color: white;
  border-radius: 12px;
}

#section4 #section4__container li #section4__container__BackEnd__container li #myBar7 {
  width: 90%;
  height: 5px;
  background-color: #3636a8;
  text-align: center;
  color: white;
  border-radius: 12px;
}

#section4 #section4__container li #section4__container__BackEnd__container li #myBar8 {
  width: 80%;
  height: 5px;
  background-color: #3636a8;
  text-align: center;
  color: white;
  border-radius: 12px;
}

#section4 #section4__container li p {
  font-size: 20px;
  color: #b4b2b2;
}

#section5 {
  width: 100%;
  margin-top: 40px;
  padding-bottom: 100px;
  min-width: 290px;
}

#section5 h1 {
  text-align: center;
  font-size: 40px;
}

#section5 #section5__h4 {
  text-align: center;
  color: #727070;
  margin-top: 20px;
  font-size: 20px;
}

#section5 #section5__container {
  width: 60%;
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

#section5 #section5__container .section5__container__class {
  width: 220px;
  height: 250px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#section5 #section5__container .section5__container__class #section5__container__developer__container {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  margin-top: 25%;
}

#section5 #section5__container .section5__container__class #section5__container__developer__container li:nth-child(2) {
  padding-top: 20px;
}

#section5 #section5__container .section5__container__class #section5__container__developer__container li:nth-child(3) {
  margin-top: 50px;
  color: #3636a8;
}

#section5 #section5__container .section5__container__class #section5__container__developer__container li:nth-child(3) .fa-long-arrow-right {
  color: #3636a8;
  padding-left: 5px;
}

#section5 #section5__container .section5__container__class #section5__container__developer__container li:nth-child(3):hover {
  cursor: pointer;
}

#section5 #section5__container .section5__container__class #section5__container__developer__container li:nth-child(1) .fa {
  font-size: 35px;
  color: #3636a8;
}

#section5 #section5__container .section5__container__class #section5__container__engineer__container {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  margin-top: 25%;
}

#section5 #section5__container .section5__container__class #section5__container__engineer__container li:nth-child(2) {
  padding-top: 20px;
}

#section5 #section5__container .section5__container__class #section5__container__engineer__container li:nth-child(3) {
  margin-top: 50px;
  color: #3636a8;
}

#section5 #section5__container .section5__container__class #section5__container__engineer__container li:nth-child(3) .fa-long-arrow-right {
  color: #3636a8;
  padding-left: 5px;
}

#section5 #section5__container .section5__container__class #section5__container__engineer__container li:nth-child(3):hover {
  cursor: pointer;
}

#section5 #section5__container .section5__container__class #section5__container__engineer__container li:nth-child(1) .fa {
  font-size: 35px;
  color: #3636a8;
}

#section5 #section5__container .section5__container__class #section5__container__engineer__container li:nth-child(3) {
  margin-top: 30px;
}

#section6 {
  width: 100%;
  padding-bottom: 40px;
  min-width: 290px;
}

#section6 #section6__Portfolio {
  text-align: center;
}

#section6 #section6__work {
  text-align: center;
  color: #727070;
  margin-top: 10px;
}

#section6 #section6__container {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  height: 300px;
}

#section6 #section6__container #section6__container__span1 {
  position: absolute;
  top: 40%;
  left: 50px;
  height: 20px;
  width: 20px;
  z-index: 1;
}

#section6 #section6__container #section6__container__span1 .fa {
  font-size: 40px;
  color: #3636a8;
}

#section6 #section6__container .section6__container__class:hover {
  cursor: pointer;
}

#section6 #section6__container #section6__container__span2 {
  position: absolute;
  top: 40%;
  right: 50px;
  height: 20px;
  width: 20px;
  z-index: 1;
}

#section6 #section6__container #section6__container__span2 .fa {
  font-size: 40px;
  color: #3636a8;
}

#section6 #section6__container .section6__container__dot {
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center;
  z-index: 1;
}

#section6 #section6__container .section6__container__dot span {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  margin: 0 6px;
  background-color: #fff;
  border: 3px solid #3636a8;
  display: inline-block;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

#section6 #section6__container .section6__container__dot span:hover {
  background-color: #3636a8 !important;
  border: 2px solid #fff;
  cursor: pointer;
}

#section6 #section6__container .section6__container__dot .dot-active {
  background-color: #3636a8 !important;
  border: 2px solid #fff;
}

#section6 #section6__container #section6__container__slides {
  width: 300%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

#section6 #section6__container #section6__container__slides .section6__container__slides__class {
  width: 100%;
}

#section6 #section6__container #section6__container__slides .section6__container__slides__class .section6__container__slides__class__containerClass {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#section6 #section6__container #section6__container__slides .section6__container__slides__class .section6__container__slides__class__containerClass .section6__container__slides__class__container__class {
  width: 330px;
}

#section6 #section6__container #section6__container__slides .section6__container__slides__class .section6__container__slides__class__containerClass .section6__container__slides__class__container__class img {
  width: 100%;
}

#section6 #section6__container #section6__container__slides .section6__container__slides__class .section6__container__slides__class__containerClass li:nth-child(2) {
  padding-top: 60px;
}

#section6 #section6__container #section6__container__slides .section6__container__slides__class .section6__container__slides__class__containerClass li:nth-child(2) p {
  margin-top: 10px;
  color: #b4b2b2;
  font-size: 20px;
}

#section6 #section6__container #section6__container__slides .section6__container__slides__class .section6__container__slides__class__containerClass li:nth-child(2) div {
  width: 140px;
  height: 37px;
  text-align: center;
  line-height: 38px;
  margin-top: 40px;
}

#section6 #section6__container #section6__container__slides .section6__container__slides__class .section6__container__slides__class__containerClass li:nth-child(2) div a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: 2px solid #3636a8;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #ece8f7;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

#section6 #section6__container #section6__container__slides .section6__container__slides__class .section6__container__slides__class__containerClass li:nth-child(2) div:hover a {
  background-color: #3636a8;
  color: white;
  border: none;
}

#section7 {
  width: 100%;
  min-width: 290px;
}

#section7 #section7__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  margin: 0 auto;
  list-style: none;
  padding-top: 20px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: #3636a8;
}

#section7 #section7__container li:nth-child(1) {
  padding-top: 50px;
}

#section7 #section7__container li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#section7 #section7__container li h3 {
  text-align: center;
  font-size: 25px;
}

#section7 #section7__container li p {
  color: #b8b7b7;
  font-size: 21px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

#section7 #section7__container li #section7__button {
  width: 100px;
  margin: 0 auto;
  width: 140px;
  height: 37px;
  text-align: center;
  line-height: 38px;
  margin-top: 20px;
}

#section7 #section7__container li #section7__button a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: 2px solid #3636a8;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #ece8f7;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

#section7 #section7__container li #section7__button:hover a {
  background-color: #d2c2f8;
  color: white;
  border: none;
}

#section7 #section7__container li #section7__container {
  width: 310px;
  height: 210px;
}

#section7 #section7__container li #section7__container img {
  width: 100%;
}

#section8 {
  width: 100%;
  margin-top: 40px;
}

#section8 #section8__container {
  list-style: none;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#section8 #section8__container #section8__container__1 {
  width: 220px;
}

#section8 #section8__container #section8__container__1 #section8__container__1__container {
  list-style: none;
}

#section8 #section8__container #section8__container__1 #section8__container__1__container .section8__container__1__container__li .section8__container__1__container__li__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin-top: 30px;
}

#section8 #section8__container #section8__container__1 #section8__container__1__container .section8__container__1__container__li .section8__container__1__container__li__container .section8__container__1__container__li__container__icon {
  padding-top: 10px;
}

#section8 #section8__container #section8__container__1 #section8__container__1__container .section8__container__1__container__li .section8__container__1__container__li__container li ul {
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

#section8 #section8__container #section8__container__1 #section8__container__1__container .section8__container__1__container__li .section8__container__1__container__li__container li ul li p {
  padding-top: 5px;
  color: #b8b3b3;
}

#section8 #section8__container #section8__container__2 {
  width: 400px;
}

#section8 #section8__container #section8__container__2 #section8__container__2__form {
  width: 300px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0 auto;
  padding: 20px;
}

#section8 #section8__container #section8__container__2 #section8__container__2__form div {
  margin-top: 30px;
  width: 90%;
}

#section8 #section8__container #section8__container__2 #section8__container__2__form div textarea {
  height: 120px;
  font-size: 18px;
  padding-bottom: 10px;
}

#section8 #section8__container #section8__container__2 #section8__container__2__form div input:focus {
  outline: none;
}

#section8 #section8__container #section8__container__2 #section8__container__2__form div input {
  border: none;
  border-bottom: 1px solid #3636a8;
  font-size: 18px;
  padding-bottom: 10px;
}

#section8 #section8__container #section8__container__2 #section8__container__2__form div:nth-child(4) {
  width: 120px;
  margin: 0 auto;
  margin-top: 10px;
}

#section8 #section8__container #section8__container__2 #section8__container__2__form div:nth-child(4) #submitButton {
  width: 120px;
  height: 30px;
  border: 1px solid #3636a8;
  background-color: #afc9e0;
}

#section8 #section8__container #section8__container__2 #section8__container__2__form div:nth-child(4) #submitButton:focus {
  outline: none;
}

#section8 #section8__container #section8__container__2 #section8__container__2__form div:nth-child(4) #submitButton:hover {
  color: white;
  background-color: #3636a8;
}

#section9 {
  margin-top: 30px;
  min-width: 290px;
  background-color: #3636a8;
}

#section9 #section9__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  height: 150px;
  padding-top: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#section9 #section9__container .section9__container__class #section9__container__class__title {
  list-style: none;
  color: white;
}

#section9 #section9__container .section9__container__class #section9__container__class__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

#section9 #section9__container .section9__container__class #section9__container__class__social {
  list-style: none;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

#section9 div {
  text-align: center;
  height: 50px;
  font-size: 20px;
  color: #7e7d7d;
}

#container__section1__mobilepNav {
  display: none;
}

@media (max-width: 1024px) {
  #container {
    height: 100%;
  }
  #container__section1__destopNav {
    display: none;
  }
  #container__section1__mobilepNav {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    -webkit-box-shadow: 0px 4px 20px #bdbcbc;
            box-shadow: 0px 4px 20px #bdbcbc;
    z-index: 6;
  }
  #container__section1__mobilepNav #container__section1__mobilepNav__container {
    height: 60px;
    -webkit-box-shadow: 0px 4px 20px #bdbcbc;
            box-shadow: 0px 4px 20px #bdbcbc;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 20px;
    background-color: white;
  }
  #container__section1__mobilepNav #container__section1__mobilepNav__container li {
    width: 100px;
  }
  #container__section1__mobilepNav #container__section1__mobilepNav__container li #logo2 {
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
  }
  #container__section1__mobilepNav #container__section1__mobilepNav__container #container__section1__mobilepNav__container__1 {
    text-align: left;
  }
  #container__section1__mobilepNav #container__section1__mobilepNav__container #container__section1__mobilepNav__container__2 #container__section1__mobilepNav__container__2_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100px;
  }
  #container__section1__mobilepNav #container__section1__mobilepNav__container #container__section1__mobilepNav__container__2 #container__section1__mobilepNav__container__2_1 #menu_content {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 0%;
    padding-top: 46px;
    height: 0rem;
    top: -173px;
    left: 0;
    -webkit-transition: width 2s height 4s;
    transition: width 2s height 4s;
    list-style: none;
    height: 9rem;
    width: 100%;
    display: none;
  }
  #container__section1__mobilepNav #container__section1__mobilepNav__container #container__section1__mobilepNav__container__2 #container__section1__mobilepNav__container__2_1 #menu_content :nth-child(2) {
    text-align: left;
  }
  #container__section1__mobilepNav #container__section1__mobilepNav__container #container__section1__mobilepNav__container__2 #container__section1__mobilepNav__container__2_1 #menu_content .navItem a {
    text-decoration: none;
  }
  #container__section1__mobilepNav #container__section1__mobilepNav__container #container__section1__mobilepNav__container__2 #container__section1__mobilepNav__container__2_1 #menu:hover + #menu_content {
    height: 9rem;
    width: 100%;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #section2 {
    margin-top: 0px;
  }
  #section2 #section2__container {
    width: 100%;
  }
  #section2 #section2__container .section2__container__class .section2__containerImage__containers {
    margin-top: 40px;
    width: 210px;
    height: 210px;
  }
  #section3 #section3__about {
    font-size: 30px;
  }
  #section3 #section3__container {
    width: 100%;
  }
  #section3 #section3__container #section3__container__1 {
    text-align: center;
  }
  #section3 #section3__container #section3__container__1 img {
    width: 210px;
    height: 210px;
  }
  #section3 #section3__container #section3__container__2 {
    text-align: center;
  }
  #section3 #section3__container #section3__container__2 p {
    width: 90%;
    margin: 0 auto;
  }
  #section3 #section3__container #section3__container__2 #section3__container__2__container {
    width: 100%;
  }
  #section3 #section3__container #section3__container__2 #section3__container__2__download {
    margin: 0 auto;
    margin-top: 40px;
  }
  #section4 #section4__skill h1 {
    font-size: 30px;
    text-align: center;
  }
  #section4 #section4__container {
    width: 90%;
    margin: 0 auto;
  }
  #section4 #section4__container .section4__container__class {
    margin-bottom: 40px;
  }
  #section7 #section7__container {
    width: 90%;
  }
  #section8 #section8__container {
    width: 80%;
  }
  #section9 {
    padding-bottom: 50px;
    margin-top: 0px;
  }
}

@media (max-width: 954px) {
  #section6 #section6__container {
    width: 100%;
  }
  #section8 #section8__container {
    width: 100%;
  }
}

@media (max-width: 690px) {
  #section2__container__text {
    width: 100%;
    min-width: 290px;
  }
  #section2__containerImage {
    position: relative;
  }
  #section2__container__text__container__textContainer__socialMedia {
    position: absolute;
    top: 50px;
  }
  #section2 #section2__container #section2__container__text #section2__container__text__container {
    width: 90%;
    margin: 0 auto;
  }
  #section2 #section2__container #section2__container__text #section2__container__text__container
#section2__container__text__container__textContainer {
    margin: 0 auto;
  }
  #section2 #section2__container #section2__container__text #section2__container__text__container
#section2__container__text__container__textContainer p {
    width: 90%;
  }
  #section2 #section2__container #section2__container__text #section2__container__text__container
#section2__container__text__container__textContainer h1 {
    font-size: 30px;
  }
  #section2 #section2__container .section2__container__class {
    height: 300px;
  }
  #section6 #section6__container {
    width: 100%;
    height: 545px;
  }
  #section6 #section6__container #section6__container__span1 {
    left: 20px;
  }
  #section6 #section6__container #section6__container__span2 {
    right: 20px;
  }
  #section6 #section6__container #section6__container__slides .section6__container__slides__class .section6__container__slides__class__containerClass {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
  }
  #section6 #section6__container #section6__container__slides .section6__container__slides__class .section6__container__slides__class__containerClass .section6__container__slides__class__container__class {
    width: 100%;
    display: inline block;
    text-align: center;
  }
  #section6 #section6__container #section6__container__slides .section6__container__slides__class .section6__container__slides__class__containerClass .section6__container__slides__class__container__class img {
    width: 80%;
  }
  #section7 #section7__container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section7 #section7__container li:nth-child(1) {
    padding-top: 0px;
  }
  #section7 #section7__container li p {
    width: 70%;
  }
  #section7 #section7__container li #section7__container {
    margin-top: 20px;
  }
  #section7 #section7__container li #section7__container {
    width: 260px;
    height: 200px;
  }
  #section7 #section7__container li #section7__container img {
    width: 100%;
  }
  #section8 {
    padding-bottom: 50px;
    min-width: #3636a8;
  }
  #section8 #section8__container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section8 #section8__container #section8__container__1 {
    width: 100%;
    margin-bottom: 10px;
  }
  #section8 #section8__container #section8__container__1 #section8__container__1__container {
    width: 280px;
    margin: 0 auto;
  }
  #section8 #section8__container #section8__container__2 {
    width: 100%;
  }
  #section8 #section8__container #section8__container__2 #section8__container__2__form {
    width: 250px;
    margin: 0 auto;
  }
  #section8 #section8__container #section8__container__2 #section8__container__2__form div textarea {
    width: 230px;
    height: 110px;
  }
}
/*# sourceMappingURL=style.css.map */