$navFontSize: 18px;
$navcolor:black;
$maincolour: rgb(54, 54, 168);
$maincolourFade: rgb(97, 97, 236);
$fadeAsh:rgb(114, 112, 112);
$fadeAsh2:rgb(180, 178, 178);
$minwidth:290px;
$h1FontSize:35px;
$h4FontSize:20px;
$h3FontSize:20px;
$paragraph:20px;
$h2FontSize:20px;
$paragraphMobile:18px;
$h1FontSizeMobile:28px;
$h4FontSizeMobile:18px;
$h2FontSizeMobile:15px;
$h3FontSizeMobile:18px;
@mixin skillFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    list-style: none;
    :nth-child(2) h3{
        text-align: right;
        color: $fadeAsh2;
    }
}
@mixin service{
    list-style: none;
    width: 80%;
    margin: 0 auto;
    margin-top: 25%;
    li:nth-child(2){
       padding-top: 20px;
    }
    li:nth-child(3){
       margin-top: 50px;
       color:$maincolour;
       .fa-long-arrow-right{
           color:$maincolour ;
           padding-left: 5px;
       }
    }
    li:nth-child(3):hover{
        cursor: pointer;
    }
    li:nth-child(1) .fa{
        font-size: 35px;
        color: $maincolour;
    }
}
@mixin level($width){
    width:$width;
    height: 5px;
    background-color: $maincolour;
    text-align: center;
    color: white;    
    border-radius: 12px;
}
@mixin button {
    width: 140px;
    height: 37px;
    text-align: center;
    line-height: 38px;
    margin-top: 30px;
    a{
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 20px;
        border: 2px solid $maincolour;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color: rgb(236, 232, 247);
        transition:  background-color 1s;
    }
    &:hover a{
        background-color: $maincolour;
        color: white;
        border: none;
    }    
}

@mixin button2 {
    width: 140px;
    height: 37px;
    text-align: center;
    line-height: 38px;
    margin-top: 20px;
    a{
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 20px;
        border: 2px solid $maincolour;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color: rgb(236, 232, 247);
        transition:  background-color 1s;
    }
    &:hover a{
        background-color: rgb(210, 194, 248);
        color: white;
        border: none;
    }    
}

*{
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
html {
    scroll-behavior: smooth;
}  
#container{
    width: 100vw;
    height: auto;
    padding-top: 140px;
}

.color{
    background-color:#10043a;
}
#container__section1{
    width: 100%;
    height: 85px;
    z-index: 2000;
    position: fixed;
    top: 0px;
    #container__section1__destopNav{
        width:100%;
        height: 100px;  
        position: fixed;
        z-index: 200;
        #logo__container{
            display: inline;
            position: absolute;
            top: 30px;
            left: 40px;
            #logo__container__logo{
                text-decoration: none;
                color: $navcolor;
                font-size:25px;
            }
        }
        ul{
            display: flex;
            flex-direction: row;
            text-align: center;
            margin: 0 auto;
            width: 600px;
            list-style: none;
            justify-content: space-evenly;
            margin-top: 40px;
            li:nth-child(7){
                display: none;
            }
            li{
                position: relative;
                padding: 9px;
                span{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 0px;
                    width: 0;
                    transition: width 2s height 4s;
                    background-color: rgb(54, 54, 168);
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;
                }
                .active{
                    height: 3px;
                    width: 100%;
                    background-color: $maincolour;
                }
                a{
                    text-decoration: none;
                    font-size: $navFontSize;
                    color: $navcolor;
                    width: 100%;
                    padding: 5px;
                }
            }
            li a:hover{
                color:rgb(81, 100, 209);
            }
            li:hover span{
                height: 3px;
                width: 100%;
                background-color: rgb(81, 100, 209);
            }
        }  
    }
}
#section2{
    width: 100%;
    height: auto;
    z-index: -1;
    min-width: $minwidth;
    #section2__container{
        width: 85%;
        display: flex;
        flex-wrap: wrap-reverse;
        list-style: none;
        margin: 0;
        padding: 0;
        margin: 0 auto;
        justify-content: space-evenly;
        height: 100%;
        .section2__container__class{
            list-style: none;
            height: 400px;
            .section2__containerImage__containers{
                margin-top: 40px;
                width: 270px;
                height: 270px;  
            }
            #section2__containerImage__container1{
               position: relative;
               transform: translateY(4px) rotateZ(-5deg);
               background-color: #3636a8;
               margin: 0 auto;
            }
            #section2__containerImage__container2{
                position: absolute;
                bottom: 0;
                transform: translateY(4px) rotateZ(5deg);
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
  
        #section2__container__text #section2__container__text__container{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            list-style: none;
            height: 100%;
            #section2__container__text__container__textContainer__socialMedia{
                flex: 1;
                width: 100px;
                height: 200px;
                list-style: none;
                vertical-align : middle;
                margin-top: 90px;
                padding: 0;
                padding-right: 30px;
                li{
                    padding-top: 25px;
                    font-size: 20px;
                  
                    a .fa{
                        color:$maincolour;
                    }
                }
            }

            #section2__container__text__container__textContainer{
                flex: 2;
                h1{
                    font-size: $h1FontSize;
                    margin-top: 20px;
                }
                h4{
                    color: $fadeAsh;
                    font-size: 23px;
                    margin-top: 15px;
                }
                p{
                    color: $fadeAsh;
                    margin-top: 15px;
                    width: 330px;
                    font-size:$paragraph;
                }
                #section2__container__text__container__textContainer__container{
                   @include button()
                }
            }
        }
    }

}

#section3{
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 5px;
    min-width: $minwidth;
    #section3__about{
        overflow-x: hidden;
        text-align: center;
        font-size: $h1FontSize;
    }
    #section3_introduction{
        text-align: center;
        color:$fadeAsh;
        font-size: $h4FontSize;
        margin-top: 20px;
    }
    #section3__container{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin:  0 auto;
        height: fit-content;
        list-style: none;
        margin-top: 60px;
        #section3__container__1{
            text-align: center;
            
            img{ 
                width: 314px;
                height: 314px;
            }
        }
        .section3__container__items{
            flex: 1;
        }
        #section3__container__2 {
            p{
                width: 70%;
                color: $fadeAsh;
                font-size: $paragraph;
                text-align: left;
            }
            ul li{
                color: $fadeAsh;
                font-size: $paragraph;
                text-align: left;
            }
            #section3__container__2__container{
                list-style: none;
                display: flex;
                flex-wrap: nowrap;
                margin-top: 30px;
                width: 85%;
                li{
                    text-align: center;
                    width: 100%;
                }
                li h1{
                    width: 100px;
                    text-align: center;
                    font-size:$h1FontSize;
                    color: black;
                }
                
            }
            #section3__container__2__download{
                @include button()
            }
        }
    }
   
}
#section4{
    width: 100%;
    margin-top: 80px;
    height: fit-content;
    min-width: $minwidth;
    #section4__skill{
        h1{
            font-size: $h1FontSize;
            text-align: center;
        }
    }
    #section__skill_level{
        margin-top: 20px;
        margin-bottom: 50px;
        h4{
            font-size: $h4FontSize;
            text-align: center;
            color:$fadeAsh;
        }
    }
    #section4__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto; 
        justify-content: space-around;
        list-style: none;
        .section4__container__class{
            min-width: 200px;
            max-width: 410px;
            transition: height 2s;
            overflow: hidden;
            height: 70px;
            .fa-arrow-down:hover{
                cursor: pointer;
            }
            p{
                font-size: $paragraph; 
            }
            h2{
                position: relative;
                font-size:$h4FontSize ;
                .rotate{
                    transform: rotate(180deg);
                }
                .fa-arrow-down{
                    position: absolute;
                    right: 40px;
                    top:9px;
                    width: 16px;
                    height: 20px;
                    border-radius: 50%;
                    color: $maincolour;
                    font-size: 18px;
                }
            }
            #section4__container__FrontEnd__container{
                h3{
                    font-size: $h3FontSize;
                }
            }
        }
        .move{
            height: 400px;
        }
        li{
            flex: 1;
            #section4__container__FrontEnd__container{
                margin-top: 30px;
                list-style: none; 
                li ul{
                    @include skillFlex()
                }
                li{
                    margin-top: 20px;
                    .myProgress{
                        margin-top: 5px;
                        width: 100%;
                        background-color: #ddd;
                        border-radius: 12px;
                    }
                    #myBar1{
                        @include level(60%)
                    }
                    #myBar2{
                        @include level(80%)
                    }
                    #myBar3{
                        @include level(90%)
                    }
                    #myBar4{
                        @include level(80%)
                    }
                }
            }
            #section4__container__BackEnd__container{
                margin-top: 30px;
                list-style: none;
                li ul{
                    @include skillFlex()
                }
                li{
                    margin-top: 20px;
                    .myProgress{
                        margin-top: 5px;
                        width: 100%;
                        background-color: #ddd;
                        border-radius: 12px;
                    }
                      
                    #myBar5{
                        @include level(50%)
                    }
                    #myBar6{
                        @include level(60%)
                    }
                    #myBar7{
                        @include level(90%)
                    }
                    #myBar8{
                        @include level(80%)
                    }
                }
            }
            p{
                font-size: $paragraph;
                color:$fadeAsh2 ;
               
            }
        }
      
    }

}


#section5{
    width: 100%;
    margin-top: 40px;
    padding-bottom: 100px;
    min-width: $minwidth;
    h1{
        text-align: center;
        font-size:$h1FontSize ;
    }
    #section5__h4{
        text-align: center;
        color:$fadeAsh ;
        margin-top: 20px;
        font-size:$h4FontSize ;
    
    }
    #section5__container{
        width: 65%;
        margin: 0 auto;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 30px;
        .section5__container__class{
            position: relative;
            width: 230px;
            height: 250px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            .section5D{
                display: none;
            }
            .section5Dev{
                display: block;
                list-style: none;
                width: 250px;
                position: absolute;
                background-color: rgb(244, 244, 248);
                top: 0;
                left: -15px;
                li{
                    padding: 10px;
                    #section5__container__developer__content_1{
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        justify-content: right;
                        li:nth-child(1){
                            text-align: left;
                            width: 100%;
                            h3{
                                font-size: $h3FontSize;
                            }
                        }
                        
                        #section_close{
                            display: flex;
                            flex-direction: column;
                            &:hover{
                                cursor: pointer;
                            }
                            span{
                                width: 24px;
                                height: 1;
                                $maincolour: rgb(54, 54, 168);
                                border: 1px solid ;      
                            }
                            span:nth-child(1){
                                transform: translateY(4px) rotateZ(-45deg);
                            }
                            span:nth-child(2){
                                transform: translateY(2px) rotateZ(45deg);
                            }
                        }
                    }
                    #section5__container__developer__content_2{
                        list-style: none;
                        li{
                            color: $fadeAsh;
                        }
                        span .fa{
                            padding-right: 10px
                        }
                    }
                }
            }
            .section5E{
                display: none;
            }
            .section5Eng{
                display: block;
                list-style: none;
                width: 250px;
                position: absolute;
                background-color: rgb(244, 244, 248);
                top: 0;
                left: -15px;
                li{
                    padding: 10px;
                    #section5__container__engineer__content_1{
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        justify-content: right;
                        li:nth-child(1){
                            text-align: left;
                            width: 100%;
                            h3{
                                font-size: $h3FontSize;
                            }
                        }
                        
                        #section_close2{
                            display: flex;
                            flex-direction: column;
                            &:hover{
                                cursor: pointer;
                            }
                            span{
                                width: 24px;
                                height: 1;
                                $maincolour: rgb(54, 54, 168);
                                border: 1px solid ;      
                            }
                            span:nth-child(1){
                                transform: translateY(4px) rotateZ(-45deg);
                            }
                            span:nth-child(2){
                                transform: translateY(2px) rotateZ(45deg);
                            }
                        }
                    }
                    #section5__container__engineer__content_2{
                        list-style: none;
                        li{
                            color: $fadeAsh;
                            span .fa{
                                padding-right: 10px
                            }
                        }
                    }
                }
            }
            
            #section5__container__developer__container{
                @include service;
                li:nth-child(3):hover .fa{
                    transform: translateX(.25rem);
                }
            }
            #section5__container__engineer__container{
                @include service;
                li:nth-child(3){
                   margin-top: 30px;
                }
                li:nth-child(3):hover .fa{
            
                    transform: translateX(.25rem);
                }
            }
            

        }
    }
}
#section6{
    width: 100%;
    padding-bottom: 40px;
    min-width: $minwidth;
    #section6__Portfolio{
        text-align: center;
        font-size: $h1FontSize;
    }
    #section6__work{
        text-align: center;
        color:$fadeAsh ;
        margin-top: 10px;
        font-size: $h4FontSize;
    }
    #section6__container{
        width:70%;
        margin: 0 auto;
        margin-top: 20px;
        overflow: hidden;
        position: relative;
        height: 300px;
        #section6__container__span1{
            position: absolute;
            top: 40%;
            left: 50px;
            height: 20px;
            width: 20px;
            z-index: 1;
            .fa{
                font-size: 40px;
                color: $maincolour;
            }
        }
        .section6__container__class:hover{
            cursor: pointer;
        }
        #section6__container__span2{
            position: absolute;
            top: 40%;
            right: 50px;
            height: 20px;
            width: 20px;
            z-index: 1;
            .fa{
                font-size: 40px;
                color: $maincolour;
            }
            .fa:active{
                color:$maincolourFade ;
            }
        }
        .section6__container__dot{
            position: absolute;
            bottom :0%;
            width: 100%;
            text-align: center;
            z-index: 1;
            span{
                width: 10px;
                height: 10px;
                border-radius: 100px;
                margin: 0 6px;
                background-color: #fff;
                border: 3px solid $maincolour ;
                display:inline-block;
                transition: 0.4s linear;
            }
            span:hover{
                background-color: $maincolour !important;
                border: 2px solid #fff;
                cursor: pointer;
            }
            .dot-active{
                background-color: $maincolour !important;
                border: 2px solid #fff;
            }
        }
        #section6__container__slides{
            width: 300%;
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            position: absolute;
            top: 0;
            left: 0;
            transition: 2s ease;
            height: 290px;
            .section6__container__slides__class{
                width: 100%;
                
                .section6__container__slides__class__containerClass{
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    width: 90%;
                    height: 100%;
                    margin: 0 auto;
                    justify-content: space-evenly;
                    .section6__container__slides__class__container__class{
                        width: 330px;
                        h3{
                            font-size:$h3FontSize; 
                        }
                        img{
                            width: 80%;
                            height: 100%;
                            text-align: center;
                            border-radius: 15px;
                        }
                    }
                    li:nth-child(2){
                        padding-top: 20px;
                        p{
                            margin-top: 10px;
                            color: $fadeAsh2;
                            font-size: $paragraph
                        }
                        div{
                            @include button();
                        }
                    }
                }
            }
        }
    }
}
#section7{
    width: 100%;
    min-width: $minwidth;
    #section7__container{
        display: flex;
        flex-direction: row;
        width: 60%;
        margin: 0 auto;
        list-style: none;
        padding-top: 20px;
        border-top-left-radius: 60px;
        border-bottom-right-radius: 60px;
        background-color:$maincolour ;
        li:nth-child(1){
            padding-top: 50px;
        }
        li{
            flex: 1;
            h3{
                text-align: center;
                font-size: 25px;
            }
            p{
                color: rgb(184, 183, 183);
                font-size: 21px;
                width: 90%;
                margin: 0 auto;
                text-align: center;
                margin-top: 20px;
            }
            #section7__button{
                width: 100px;
                margin: 0 auto;
                @include button2
            }
            #section7__container{
                width: 310px;
                height: 210px;
                img{
                    width: 100%;
                }

            }
        }
    }
}
#section8{
    width: 100%;
    margin-top: 40px;
    #section8__container{
        list-style: none;
        width: 60%;
        display: flex;
        flex: row;
        margin: 0 auto;
        justify-content: space-around;
        #section8__container__1{
            width: 220px;
            #section8__container__1__container{
                list-style: none;
                .section8__container__1__container__li .section8__container__1__container__li__container{
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    margin-top: 30px;
                    .section8__container__1__container__li__container__icon{
                        padding-top: 10px;
                        a .fa{
                            font-size: 20px;
                            color:$maincolour ;
                        }
                    }
                    li ul{
                        list-style: none;
                        flex-direction: column;
                        margin-left: 10px;
                        li{
                            h3{
                                font-size: $h3FontSize;
                            }
                            p{  
                                font-size: $paragraph;
                                padding-top: 5px;
                                color: rgb(184, 179, 179);
                            }
                        }
                    }
                }
            }

        }
        #section8__container__2{
            width: 400px;
            #section8__container__2__form{
                width: 300px;
                border-bottom: 1px solid black;
                border-top:1px solid black ;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                margin: 0 auto;
                padding: 20px;
                div{
                    margin-top: 30px;
                    width: 90%;
                    textarea{
                        height: 120px;
                        font-size: 18px;
                        padding-bottom: 10px;
                    }
                    textarea:focus{
                        outline: none;
                    }
                }
                div input:focus{
                    outline: none;
                }
                div input{
                    border: none;
                    border-bottom: 1px solid $maincolour;
                    font-size: 18px;
                    padding-bottom: 10px;
                }
                div:nth-child(4){
                    width: 120px;
                    margin: 0 auto;
                    margin-top: 10px;
                    #submitButton{
                        width: 120px;
                        height: 30px;
                        border: 1px solid $maincolour;
                        background-color: rgb(175, 201, 224);
                    }
                    #submitButton:focus{
                        outline: none;
                    }
                    #submitButton:hover{
                        color: white;
                        background-color: $maincolour;
                    }
                }
            }
        }
    }
}
#section9{
    margin-top: 30px;
    min-width: $minwidth;
    background-color:$maincolour;
    #section9__container{
        display: flex;
        width: 80%;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        height: 150px;
        padding-top: 40px;
        justify-content:space-around;
        .section9__container__class{
            #section9__container__class__title{
                list-style:none;
                color: white;
                h2{
                    font-size: $h2FontSize;
                }
            }
            #section9__container__class__nav{
                list-style: none;
                display: flex;
                width: 300px;
                justify-content: space-around;
                color: white;
                li a{
                    text-decoration: none;
                     color: white;
                }
                li a:hover{
                    cursor: pointer;
                    color:$maincolourFade ;
                }
            }
            #section9__container__class__social{
                list-style: none;
                width: 100px;
                display: flex;
                justify-content: space-around;
                color: white;
                li a{
                    text-decoration: none;
                    .fa{
                        color: white;
                    }
                    .fa:hover{
                        color: rgb(198, 198, 207);
                    }
                }
            }
        }
    }
    div{
        text-align: center;
        height: 50px;
        font-size: 20px;
        color: rgb(126, 125, 125);
    }

}
#container__section1__mobilepNav{
    display: none;
}









@media(max-width:1024px){
    #container{
        height: 100%;
    }
    #containerCenter{
        width:90%;
        margin: 0 auto;
    }
    #container__section1{
        height: 0;
    }
    #container__section1__destopNav{
        display: none;
    }
    #container__section1__mobilepNav{
        display:inline-block;
        position: fixed;
        bottom: 0;
        left: 0; 
        width: 100%;
        height: 65px;
        z-index: 6;
        #container__section1__mobilepNav__container{
            height: 60px;
            box-shadow:0px 4px 5px rgb(189, 188, 188);
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding-top: 20px;
            background-color: white;
            li{
                width: 100px;
            }
            li #logo2{
                text-decoration: none;
                font-size:20px;
                padding-left: 20px;
            }
            #container__section1__mobilepNav__container__1{
                text-align: left;
            }
            #container__section1__mobilepNav__container__2{
                #container__section1__mobilepNav__container__2_1{
                    display: flex;
                    list-style: none;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    width: 100px;
                    #theme .fa{
                       color: transparent;
                    }
                    .menu_content{
                        position: absolute;
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        width:0%;
                        padding-top: 46px;
                        height:0rem;
                        top: -173px;
                        left: 0;
                        transition: width 2s height 4s;
                        list-style: none; 
                        height:9rem;
                        width:100%;
                        display: none;
                        .navItem a{
                            text-decoration: none;
                        }
                    }
                    .active{
                            height:9rem;
                            width:100%;
                            display: block;
                            display: flex;
                            justify-content: space-around;
                            text-align: center;
                            background-color: white;
                            
                    }
                    .menu:hover{
                        cursor: pointer;
                    } 
                    .menu{ 
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;       
                        span{
                            width: 24px;
                            background-color:$maincolour;
                            border: 1px solid $maincolour;
                        }
                    }
                    .activeBar{
                        #menu__1{
                            transform: translateY(4px) rotateZ(-45deg);
                        }
                        #menu__2{
                            display: none;
                        }
                        #menu__3{
                            transform: translateY(-6px) rotate(45deg);
                        }
                    }
                }
            }
        }
    }
    #section2{
        margin-top: 0px;
        #section2__container{
            width: 100%;
            #section2__container__text{
                #section2__container__text__container #section2__container__text__container__textContainer{
                    h1{
                        font-size: $h1FontSizeMobile;
                    }
                    h4{
                        font-size: $h4FontSizeMobile;
                    }
                    p{
                        font-size:$paragraphMobile;
                    }
                }
            }
            .section2__container__class{
                .section2__containerImage__containers{
                    margin-top: 40px;
                    width: 210px;
                    height: 210px;  
                }
            }
        }
    }


    #section3{
        #section3__about{
            font-size: $h1FontSizeMobile;
        }
        #section3_introduction{
            font-size: $h4FontSizeMobile;
        }
        #section3__container{
            width: 100%;
            #section3__container__1{
                text-align: center;
                img{ 
                    width: 210px;
                    height: 210px;
                }
            }
        }
        #section3__container #section3__container__2{
           ul li{
               font-size: $paragraphMobile;
           }
            text-align: center;
            p{
            
                width: 100%;
                margin: 0 auto;
                font-size: $paragraphMobile;
            }
        
            #section3__container__2__container{
                width: 100%;
            }
            #section3__container__2__download{
                margin: 0 auto;
                margin-top: 40px;
            }
            #section3__container__2__container li{
                h1{
                    font-size: $h1FontSizeMobile;
                    color: black;
                }
            }
        }


    }
    
    #section4{
        #section4__skill{
            h1{
                font-size: $h1FontSizeMobile;
                text-align: center;
            }
        }
        #section__skill_level{
           h4{
            font-size: $h4FontSizeMobile;
           }
        }
        #section4__container{
            width: 86%;
            margin: 0 auto;
            .section4__container__class{
                margin-bottom: 40px;
                h2{
                    font-size: $h2FontSizeMobile;
                }
                p{
                    font-size:$paragraphMobile ;
                }
                #section4__container__FrontEnd__container h3 {
                    font-size: $h3FontSizeMobile;
                }
            }
        }
    }
    #section5{
        h1{
            text-align: center;
            font-size: $h1FontSizeMobile;
        }
        #section5__h4{
            font-size: $h4FontSizeMobile;
        }
        h4{ 
            font-size: $h4FontSizeMobile;
        }
        #section5__container .section5__container__class .section5Dev {
            left: -25px;
        }
        #section5__container .section5__container__class .section5Eng {
            left: -25px;
        }
    }   
    #section6{
        #section6__Portfolio {
            font-size: $h1FontSizeMobile;
        }
        #section6__work{
            font-size: $h4FontSizeMobile;
        }
        #section6__container{
            #section6__container__slides{
                .section6__container__slides__class{
                   .section6__container__slides__class__containerClass{
                        li:nth-child(2) p{
                            font-size: $paragraphMobile;
                        }
                        .section6__container__slides__class__container__class{
                            h3{
                                font-size:$h3FontSizeMobile ;
                            }
                        }
                   }
                }
            }
        }
    }

    #section7{
        #section7__container{
            width: 90%;
            li h3{
                font-size: $h3FontSizeMobile;
            }
            li p{
                font-size: $paragraphMobile;
            }
        }

    }
    #section8{
        #section8__container{
            width: 80%;
        }
        #section8__container #section8__container__1 #section8__container__1__container .section8__container__1__container__li .section8__container__1__container__li__container li ul li{
            h3{
                font-size: $h3FontSizeMobile;
            }
            p{
                font-size:$paragraphMobile;
            }
        }
    }
    #section9{
        padding-bottom:50px;
        margin-top: 0px;
        #section9__container .section9__container__class #section9__container__class__title h2 {
            font-size: $h2FontSizeMobile;
        }
        #section9__container{
            #section9__container__class{
                #section9__container__class__nav{
                    li a{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media(max-width:954px){
    #section3{
        padding-top: 10px;
    }
    #section6{
        #section6__container{
            width: 100%;
        }
    }
    #section8{
        #section8__container{
            width: 100%;
        }
    }
}
@media(max-width:690px){
    #section2__container__text{
        width: 100%;
        min-width:$minwidth;
    }
    #section2__containerImage{
        position: relative;
    }
    #section2__container__text__container__textContainer__socialMedia{
        position: absolute;
        top: 50px;
    }
    #section2 #section2__container #section2__container__text #section2__container__text__container{
        width: 90%;
        margin: 0 auto;
    }
    #section2 #section2__container #section2__container__text #section2__container__text__container
    #section2__container__text__container__textContainer{
        margin: 0 auto;
        p{
            width: 90%;    
        }
    }
    #section2 #section2__container .section2__container__class{
        height: 300px;
    }

    #section5{
        .section5__container__class{
            margin-top: 50px;
        }
    }

    #section6{
        #section6__container{
            width: 100%;
            height: 490px;
            #section6__container__span1{
                left: 20px;
            }
            #section6__container__span2{
                right: 20px;
            }
            #section6__container__slides{
                height: auto;
                .section6__container__slides__class{
                    .section6__container__slides__class__containerClass{
                        flex-direction: column;
                        width: 300px;
                        .section6__container__slides__class__container__class{
                            width: 100%;
                            height: 200px;
                            display: inline block;
                            text-align: center;
                            img{
                                width: 70%;
                                max-height: 100%;
                                border-radius: 10px;
                            }
                        }
                        #section6__container__slides__class__container__text2{
                            height: 270px;
                        }
                    }
                }
            }
        }
    }
    #section7{
        #section7__container{
            width: 100%;
            flex-direction: column;
            li:nth-child(1){
                padding-top: 0px;
            }
            li p{
                width: 70%;
            }
            li #section7__container{
                margin-top: 20px;
            }
            li{
                #section7__container{
                    width: 260px;
                    height: 200px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    #section8{
        padding-bottom: 50px;
        min-width:$maincolour ;
        #section8__container{
            width: 100%;
            flex-direction: column;
            #section8__container__1{
                width: 100%;
                margin-bottom: 10px;
                #section8__container__1__container{
                    width: 280px;
                    margin: 0 auto;
                    
                }
            }
            #section8__container__2{
                
                width: 100%;
                #section8__container__2__form{
                    width: 250px;
                    margin: 0 auto;
                    div textarea{
                        width: 230px;
                        height: 110px;
                    }
                }
            }
        }
    }
}